# ASSIGNMENT ON CLASSIFICATION

#### STEP 1 : Reading the dataset

In [1]:
import pandas as pd

iris_df = pd.read_excel(r"C:\Users\meenu\Downloads\iris (1).xls")
iris_df.head(5)

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  NaN  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

#### STEP 2 : Checking the basic details of the dataset

In [2]:
iris_df.describe()

               SL          SW          PL          PW
count  143.000000  144.000000  144.000000  150.000000
mean     5.855944    3.049306    3.756250    1.198667
std      0.828168    0.430644    1.761306    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [3]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              143 non-null    float64
 1   SW              144 non-null    float64
 2   PL              144 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
iris_df.isna().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

#### STEP 3 : Doing necessary preprocessing

In [5]:
#Imputing the null values in the data with mean

iris_data = iris_df.fillna(iris_df.mean(numeric_only=True))
iris_data

           SL   SW       PL   PW  Classification
0    5.100000  3.5  1.40000  0.2     Iris-setosa
1    4.900000  3.0  1.40000  0.2     Iris-setosa
2    5.855944  3.2  1.30000  0.2     Iris-setosa
3    4.600000  3.1  1.50000  0.2     Iris-setosa
4    5.000000  3.6  1.40000  0.2     Iris-setosa
..        ...  ...      ...  ...             ...
145  6.700000  3.0  5.20000  2.3  Iris-virginica
146  6.300000  2.5  5.00000  1.9  Iris-virginica
147  6.500000  3.0  3.75625  2.0  Iris-virginica
148  6.200000  3.4  5.40000  2.3  Iris-virginica
149  5.900000  3.0  5.10000  1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
iris_data.isnull().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [7]:
#scaling the data using min-max scaler

import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Separate features (X) and target variable (y)
X = iris_data.drop('Classification', axis=1)

# Create the MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler using the entire dataset
scaler.fit(X)

# We apply the normalization transformation to the entire dataset using transform.
# Apply the scale to the entire dataset
X_normalized = scaler.transform(X)

# Displaying the first few rows of the normalized dataset
print("\nNormalized Iris Dataset:")
iris_scaled=pd.DataFrame(data=X_normalized, columns=X.columns).head()
iris_scaled

Normalized Iris Dataset:

         SL        SW        PL        PW
0  0.222222  0.625000  0.067797  0.041667
1  0.166667  0.416667  0.067797  0.041667
2  0.432207  0.500000  0.050847  0.041667
3  0.083333  0.458333  0.084746  0.041667
4  0.194444  0.666667  0.067797  0.041667

In [8]:
#concatinating the scaled and target variables

scaled_df = pd.DataFrame(data=X_normalized, columns=X.columns)

# Combine scaled features and 'Classification' column
combined_df = pd.concat([scaled_df, iris_data['Classification']], axis=1)

In [9]:
combined_df

           SL        SW        PL        PW  Classification
0    0.222222  0.625000  0.067797  0.041667     Iris-setosa
1    0.166667  0.416667  0.067797  0.041667     Iris-setosa
2    0.432207  0.500000  0.050847  0.041667     Iris-setosa
3    0.083333  0.458333  0.084746  0.041667     Iris-setosa
4    0.194444  0.666667  0.067797  0.041667     Iris-setosa
..        ...       ...       ...       ...             ...
145  0.666667  0.416667  0.711864  0.916667  Iris-virginica
146  0.555556  0.208333  0.677966  0.750000  Iris-virginica
147  0.611111  0.416667  0.467161  0.791667  Iris-virginica
148  0.527778  0.583333  0.745763  0.916667  Iris-virginica
149  0.444444  0.416667  0.694915  0.708333  Iris-virginica

[150 rows x 5 columns]

#### STEP 4 : Trying different classification models

# 1] K-Nearest Neighbours

In [10]:
iris_dataset = combined_df.copy()

In [11]:
column_names = iris_dataset.columns
print(column_names)

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

# Separating features (X) and target variable (y)
X = iris_dataset.drop(['Classification'], axis=1)
y = iris_dataset[['Classification']].values.ravel()

# Splitting data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize K-Nearest Neighbors Classifier
knn = KNeighborsClassifier(n_neighbors=5)  # You can change n_neighbors as needed

# Training the KNN model
knn.fit(X_train, y_train)

# Prediction using the trained model
y_pred = knn.predict(X_test)

# Evaluating the model's performance and accuracy
knn_accuracy = accuracy_score(y_test, y_pred)
print("K-Nearest Neighbors Classifier Accuracy:", knn_accuracy)
print(classification_report(y_test, y_pred))

K-Nearest Neighbors Classifier Accuracy: 0.9666666666666667
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      0.89      0.94         9
 Iris-virginica       0.92      1.00      0.96        11

       accuracy                           0.97        30
      macro avg       0.97      0.96      0.97        30
   weighted avg       0.97      0.97      0.97        30

### confusion matrix

In [13]:
from sklearn.metrics import confusion_matrix

conf_matrix_knn = confusion_matrix(y_test, y_pred)
print("Confusion Matrix - K-Nearest Neighbors Classifier:")
print(conf_matrix_knn)

Confusion Matrix - K-Nearest Neighbors Classifier:
[[10  0  0]
 [ 0  8  1]
 [ 0  0 11]]

# 2] Support Vector Machines

In [14]:
iris_dataset1 = combined_df.copy()

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

# Separate features (X) and target variable (y)
X = iris_dataset1.drop(['Classification'], axis=1)
y = iris_dataset1[['Classification']].values.ravel()

# Splitting data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)


# Initialize SVM Classifier
svm = SVC(kernel='linear')  # You can try different kernels ('linear', 'rbf', 'poly', etc.)

# Training the SVM model
svm.fit(X_train, y_train)

# Prediction using the trained model
y_pred_svm = svm.predict(X_test)

# Evaluating the model's performance and accuracy
svm_accuracy = accuracy_score(y_test, y_pred_svm)
print("SVM Classifier Accuracy:", svm_accuracy)
print(classification_report(y_test, y_pred_svm))

SVM Classifier Accuracy: 1.0
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        19
Iris-versicolor       1.00      1.00      1.00        13
 Iris-virginica       1.00      1.00      1.00        13

       accuracy                           1.00        45
      macro avg       1.00      1.00      1.00        45
   weighted avg       1.00      1.00      1.00        45

### confusion matrix

In [43]:
conf_matrix_svm = confusion_matrix(y_test, y_pred_svm)
print("Confusion Matrix - SVM Classifier:")
print(conf_matrix_svm)

Confusion Matrix - SVM Classifier:
[[19  0  0]
 [ 0 13  0]
 [ 0  0 13]]

# 3] Decision trees

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, accuracy_score

# Separate features (X) and target variable (y)
X = iris_dataset.drop(['Classification'], axis=1)
y = iris_dataset[['Classification']].values.ravel()

# Splitting data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize Decision Tree Classifier
decision_tree = DecisionTreeClassifier(random_state=42)  # You can adjust hyperparameters here

# Training the Decision Tree model
decision_tree.fit(X_train, y_train)

# Prediction using the trained model
y_pred = decision_tree.predict(X_test)

# Evaluating the model's performance and accuracy
tree_accuracy = accuracy_score(y_test, y_pred)
print("Decision Tree Classifier Accuracy:", tree_accuracy)
print(classification_report(y_test, y_pred))

Decision Tree Classifier Accuracy: 1.0
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        19
Iris-versicolor       1.00      1.00      1.00        13
 Iris-virginica       1.00      1.00      1.00        13

       accuracy                           1.00        45
      macro avg       1.00      1.00      1.00        45
   weighted avg       1.00      1.00      1.00        45

### confusion matrix

In [47]:
conf_matrix_dt = confusion_matrix(y_test, y_pred)
print("Confusion Matrix - Decision Tree Classifier:")
print(conf_matrix_dt)

Confusion Matrix - Decision Tree Classifier:
[[19  0  0]
 [ 0 13  0]
 [ 0  0 13]]

# 4] Random Forest

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

# Separate features (X) and target variable (y)
X = iris_dataset.drop(['Classification'], axis=1)
y = iris_dataset[['Classification']].values.ravel()

# Splittling data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize Random Forest Classifier
random_forest = RandomForestClassifier(n_estimators=100, random_state=42)  # Adjust n_estimators as needed

# Training the Random Forest model
random_forest.fit(X_train, y_train)

# Prediction using the trained model
y_pred_rf = random_forest.predict(X_test)

# Evaluating the model's performance and accuracy
forest_accuracy = accuracy_score(y_test, y_pred_rf)
print("Random Forest Classifier Accuracy:", forest_accuracy)
print(classification_report(y_test, y_pred_rf))

Random Forest Classifier Accuracy: 1.0
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        19
Iris-versicolor       1.00      1.00      1.00        13
 Iris-virginica       1.00      1.00      1.00        13

       accuracy                           1.00        45
      macro avg       1.00      1.00      1.00        45
   weighted avg       1.00      1.00      1.00        45

### confusion matrix

In [50]:
conf_matrix_rf = confusion_matrix(y_test, y_pred_rf)
print("Confusion Matrix - Random Forest Classifier:")
print(conf_matrix_rf)

Confusion Matrix - Random Forest Classifier:
[[19  0  0]
 [ 0 13  0]
 [ 0  0 13]]

# 5] Logistic regression

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

# Separate features (X) and target variable (y)
X = iris_dataset.drop(['Classification'], axis=1)
y = iris_dataset[['Classification']].values.ravel()

# Splitting data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize Logistic Regression Classifier
logistic_regression = LogisticRegression(max_iter=1000, random_state=42)  # You can adjust max_iter as needed

# Training the Logistic Regression model
logistic_regression.fit(X_train, y_train)

# Prediction using the trained model
y_pred = logistic_regression.predict(X_test)

# Evaluating the model's performance and accuracy
logistic_accuracy = accuracy_score(y_test, y_pred)
print("Logistic Regression Classifier Accuracy:", logistic_accuracy)
print(classification_report(y_test, y_pred))

Logistic Regression Classifier Accuracy: 0.9333333333333333
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        19
Iris-versicolor       1.00      0.77      0.87        13
 Iris-virginica       0.81      1.00      0.90        13

       accuracy                           0.93        45
      macro avg       0.94      0.92      0.92        45
   weighted avg       0.95      0.93      0.93        45

### confusion matrix

In [53]:
conf_matrix_lr = confusion_matrix(y_test, y_pred)
print("Confusion Matrix - Logistic Regression Classifier:")
print(conf_matrix_lr)

Confusion Matrix - Logistic Regression Classifier:
[[19  0  0]
 [ 0 10  3]
 [ 0  0 13]]

# 6] Naive Bayes

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, accuracy_score

# Separate features (X) and target variable (y)
X = iris_dataset.drop(['Classification'], axis=1)
y = iris_dataset[['Classification']].values.ravel()

# Splitting data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize Naive Bayes Classifier
naive_bayes = GaussianNB()

# Training the Naive Bayes model
naive_bayes.fit(X_train, y_train)

# Prediction using the trained model
y_pred = naive_bayes.predict(X_test)

# Evaluating the model's performance and accuracy
naive_bayes_accuracy = accuracy_score(y_test, y_pred)
print("Naive Bayes Classifier Accuracy:", naive_bayes_accuracy)
print(classification_report(y_test, y_pred))

Naive Bayes Classifier Accuracy: 1.0
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        19
Iris-versicolor       1.00      1.00      1.00        13
 Iris-virginica       1.00      1.00      1.00        13

       accuracy                           1.00        45
      macro avg       1.00      1.00      1.00        45
   weighted avg       1.00      1.00      1.00        45

### confusion matrix

In [56]:
conf_matrix_nb = confusion_matrix(y_test, y_pred)
print("Confusion Matrix - Naive Bayes Classifier:")
print(conf_matrix_nb)

Confusion Matrix - Naive Bayes Classifier:
[[19  0  0]
 [ 0 13  0]
 [ 0  0 13]]

#### STEP 5 : Printing Accuracy of each models

In [57]:
print('accuracy scores:')
print("K-Nearest Neighbors Classifier Accuracy:", knn_accuracy)
print("SVM Classifier Accuracy:", svm_accuracy)
print("Decision Tree Classifier Accuracy:", tree_accuracy)
print("Random Forest Classifier Accuracy:", forest_accuracy)
print("Logistic Regression Classifier Accuracy:", logistic_accuracy)
print("Naive Bayes Classifier Accuracy:", naive_bayes_accuracy)

accuracy scores:
K-Nearest Neighbors Classifier Accuracy: 0.9666666666666667
SVM Classifier Accuracy: 1.0
Decision Tree Classifier Accuracy: 1.0
Random Forest Classifier Accuracy: 1.0
Logistic Regression Classifier Accuracy: 0.9333333333333333
Naive Bayes Classifier Accuracy: 1.0

#### STEP 6 : CROSS VALIDATING EACH MODEL

In [58]:
from sklearn.model_selection import cross_val_score

# K-Nearest Neighbors Classifier
knn_scores = cross_val_score(knn, X, y, cv=5)
print("K-Nearest Neighbors Cross-Validation Scores:", knn_scores)
print("Mean Accuracy:", knn_scores.mean())

# SVM Classifier
svm_scores = cross_val_score(svm, X, y, cv=5)
print("SVM Cross-Validation Scores:", svm_scores)
print("Mean Accuracy:", svm_scores.mean())

# Decision Tree Classifier
tree_scores = cross_val_score(decision_tree, X, y, cv=5)
print("Decision Tree Cross-Validation Scores:", tree_scores)
print("Mean Accuracy:", tree_scores.mean())

# Random Forest Classifier
forest_scores = cross_val_score(random_forest, X, y, cv=5)
print("Random Forest Cross-Validation Scores:", forest_scores)
print("Mean Accuracy:", forest_scores.mean())

# Logistic Regression Classifier
logistic_scores = cross_val_score(logistic_regression, X, y, cv=5)
print("Logistic Regression Cross-Validation Scores:", logistic_scores)
print("Mean Accuracy:", logistic_scores.mean())

# Naive Bayes Classifier
naive_bayes_scores = cross_val_score(naive_bayes, X, y, cv=5)
print("Naive Bayes Cross-Validation Scores:", naive_bayes_scores)
print("Mean Accuracy:", naive_bayes_scores.mean())

K-Nearest Neighbors Cross-Validation Scores: [1.         1.         1.         0.93333333 1.        ]
Mean Accuracy: 0.9866666666666667
SVM Cross-Validation Scores: [0.96666667 0.96666667 0.96666667 0.93333333 0.96666667]
Mean Accuracy: 0.96
Decision Tree Cross-Validation Scores: [0.93333333 0.96666667 0.9        0.93333333 1.        ]
Mean Accuracy: 0.9466666666666667
Random Forest Cross-Validation Scores: [0.96666667 0.96666667 0.93333333 0.96666667 1.        ]
Mean Accuracy: 0.9666666666666668
Logistic Regression Cross-Validation Scores: [0.86666667 0.96666667 0.9        0.86666667 1.        ]
Mean Accuracy: 0.9199999999999999
Naive Bayes Cross-Validation Scores: [0.93333333 0.96666667 0.93333333 0.93333333 1.        ]
Mean Accuracy: 0.9533333333333334

# Conclusion

#### By evaluating the performance of each model by individual accuracy scores and also looking the cross validation scores:

SVM and Random forest shows both accuracy and cross validation at a higher range itself with perfect accuracy score ,while KNN Model also has a consistent score in both cases.

The other models , Decision tree, Logistic regression and Naive Bayes performance is comparitively lower.